version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    labels:
      - dependencies
    ignore:
      - dependency-name: "@microsoft/sp-*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "@microsoft/rush-*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - ci
